#splash-div{
    height:100%;
}
.jumbotron{
    margin:auto;
    width:50%;
    padding:10px;
    text-align: center;
}
#mypic{
    margin: auto;
    width:50%;
    border-radius:50%;
}
.heading{
    font-size: 32px;
}
.aboutmetitle{
    padding-top:1em;
    font-size:28px;
}
.aboutme{
    font-size: 24px;
    text-align: left;
}